/**
 * 本CSS重写了bootstrap中的一些样式
 */
body{
  line-height: 1.7;
  font-size: 13px;
}
h4{
  font-size: 16px;
}
.well{
  background-color: #FFFFFF;
  border: none;
  border-radius: none;
  box-shadow: none;
  padding: 0;
}

.glyphicon{
  top: 2px;
}
.list-group{

}
.modal-dialog{
  margin: 5% auto;
}

/**
 * index
 */
.home-title{
  color: #666;
}
.home-title span , .topics-cat-title span{
  padding-right: 10px;
}
.js-collapse{
  display: none;
}
.js-collapse{
  padding: 0 7px;
  opacity:0.6;
}
.answer-auther-info{
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
}
.zantong{
  font-size: 12px;
  color: #999;
}
.zantong a{
  padding: 0 7px;
  color: #999;
}
.author-link{
  color: black;
  font-weight: 600;
}
.avatar-link img{
  border-radius: 4px;
  width: 28px;
  height: 28px;
  margin-top: -2px;
}
.detail-answer{
  padding: 10px 0;
}
.summary{
  padding: 5px 0;
}
.side-nav-group{
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-left: 20px;
}
.side-nav-group li{
  margin: 0;
  padding: 12px 0 0 0px;
  border: none;
  color: #666;
  font-size: 13px;
}
.list-group-item a:link{
  color: #666;
}
.list-group-item a:visited{
  color: #666;
}
.list-group-item a:hover{
  color: #337ab7;
  text-decoration: none;
}
.list-group-item a:active{
  color: #666;
}
.list-group-item a{
  padding-left: 10px;
}

.pressed{
  color: red !important;
}
.vote-info{
  display: inline;
}


/**
 * header
 */
.add-question{
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #0e7bef, #0d73da) repeat scroll 0 0;
  border: 1px solid #045bb2;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
  color: #fff;
  cursor: pointer;
  line-height: 30px;
  height: 32px;
  margin-top: 10px;
  font-size: 14px;
  padding: 0 13px;
}
.offset-head-nav{
  padding: 0 4%;
}
.offset-body{
  padding: 0 5%;
}

.navbar{
  font-size: 14px;
  margin-bottom:0px;
}

.navbar a{
  color: white;
}

.navbar .nav > li > a:hover {
    color: aqua;
    background-color: #0060c8;
}

.navbar .nav >li >a:active{
    color: white;
    background-color: #0060c8;
}
.navbar .nav >li >a:visited{
    color: white;
    background-color: #0060c8;
}
.navbar .nav > li .dropdown:active {
    color: aqua;
    background-color: #282828;
}
.navbar .nav > li .dropdown-menu {
    margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
    display: block;
}
.navbar-brand{
  font-family: '雅痞-简';
  font-size: 35px;
}

/**
 * 自定义类
 */
.footer{
  border-top: 1px solid #eee;
}

.avatar{
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: block;
}
.avatar img{
  border: 1px solid #eee;
  border-radius: 5px 5px 5px 5px;
}
.feed-meta{
  color: #999;
}
.feed-meta .glyphicon{
  font-size: 12px;
  top: 0px;
}
.feed-meta span{
  padding-right: 3px;
}
.feed-meta a{
  color: #999;
  margin-right: 15px;
}
.feed-main{
  margin-right: 0px;
  width: 89%;
  display: block;
}
.feed-item{
  border-top: 1px solid #eee;
  display: block;
  padding: 10px 0;
}
.source{
  color: #999;
}
.source a{
  color: #999;
}
.question-item-answer{
  border-top: 1px solid #eee;
  padding: 20px 0 20px 0;
}
.main-content-inner{
  padding : 10px 30px 10px 30px;
}
.question-detail{
  padding: 10px 0;
}
.question-answer-count{
  font-weight: 600;
  font-size: 14px;
  border-top: 1px solid #eee;
  padding: 10px 0;
}
.answer-head{
  padding: 8px 0;
}
.answer-meta-panel{
  padding: 8px 0;
}
.answer-editor-wrap{
  padding: 20px 0;
  border-top: 1px solid #eee;
}
.answer-from{
  padding: 10px 0;
}
.carousel-inner img{
  width: 100%;
  max-height: 300px;
}
.profile-section-wrap{
  margin: 20px 0;
}

.info-introduce img{
  width: 100px;height: 100px;
}
.info-like , .info-other{
  padding: 20px 0;
}
.section-wrap-title{
  border-bottom: 1px solid #eee;
}
.section-wrap-item{
  border-top: 1px dotted #eee;
  padding: 10px 0;
}

.btn-search-my{
  margin: 0 0 0 -6px;
  border-radius: 0 4px 4px 0px;
}

/**
 * question
 */

.question-info{
  color: #999;
}
/**
 * question-all
 */
.logs-questions-item a:hover , .logs-questions-item a:visited{
  color: #337ab7;
}
.zg-gray-normal{
  color: #999;
}
.small-nav-item{
  margin: 0;
}
.small-nav-item small{
  font-size: 50%;
}
.logs-questions-item{
  border-top: 1px solid #eee;
  padding: 0 0 10px 15px;
}
.logs-questions-detail{
  margin: 5px 0;padding: 5px 10px;
  border-left: 3px solid #ddd;
}
.logs-questions-meta{
  color: #999;
}
.logs-questions-item ins{
  background: #eaf0dd none repeat scroll 0 0;
  color: #5b7918;
  text-decoration: none;
}
.logs-questions-item h4{
  font-size: 14px;
}
.logs-questions-detail div{
  margin: 10px 0;
}

/**
 * topics
 */
.topics-cat-title{
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;
}
.topics-cat-title h4{
  color: #666;
  margin: 0;padding: 0;
}
.topics-cat-title a{
  font-size: 12px;
  color: #999;
}
.general-list .item{
  border-bottom: 1px dotted #eee;
  float: left;
  position: relative;
  display: block;
  width:50%;
}
.general-list .item strong{
  display: inline-block;
}

.general-list .item img {
  position: absolute;left: 0;
  height: 50px;width: 50px;
  border-radius: 4px;
}
.general-list .item .follow{
  position: absolute; right: 5%;top: 19%;
}
.blk{
  padding-left: 60px; margin: 18px 15px 18px 0;
}
.blk p{
  overflow: hidden;
  padding: 3px 0;
}
.blk .glyphicon{
  font-size: 12px;
  top: 0;
}
.section-title{
  padding: 10px 5px;
  color: #666;
}
.hot-topics li{
  padding: 15px 5px;
  border: none;
}

.profile-setion-time{
  color: #999;
}
.question_link a:link{
  color: #0062c8;
  font-weight: 600;
  font-size: 15px;
}
/**
 * mirror
 */
.info-name h3{
  font-size: 22px;
  margin: 10px 0;
}
.header-user-describe{
  padding: 0 30px;
  display: block;
    /*width: 80%;*/
}
.editable-group{
  padding: 3px 0;
}

.editable-group span{
  /*padding-right: 10px;*/
  color: #666;
  /*opacity: 0.3;*/
}
.info-body , .profile-section-wrap{
  border: 1px solid #eee;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 20px;
}
.profile-following-topic img{
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
.profile-side-section-title{
  padding: 20px 0;
  font-weight: 500;
  color: #666;
}
.mirror-sidebar{
  padding: 0 15px;
}

/**
 * follow
 */
.follow-section-item{
  border-bottom: 1px dotted #eee;
  padding: 13px 0;
}
.follow-question{
  margin: 0;
  padding: 0 0 5px 0;
}
.follow-title{
  font-size: 15px;
  font-weight: 700;
  color: #666;
  border-bottom: 1px solid #ccc;
  margin-left: -5px;
  padding: 10px 0;
}
.follow-vote-count{
  background: #eff6fa none repeat scroll 0 0;
  width: 50px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  color: #259;
  line-height: 20px;
}
.follow-vote-num{
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 2px 0 3px;
}
.follow-vote-type{
  font-size: 12px;
  font-weight: 400;
  line-height: 1qia
}
.follow-section-main{
  margin-left: 70px;
  padding: 5px 0;
}
.follow-meta{
  color: #999;
  font-size: 12px;
  font-weight: 400;
}

/* lost_found */
.goods-item{
  border-top: 1px solid #ccc;
  padding: 10px 5px;
}
.goods-uper{
  color: #999;
}
.goods-contents{
  padding: 10px 0 0 0;
}


.sports-time{
  display: inline;
}
.sports-count{
  color: #999;
}
.sports-details{
  padding: 10px 0;
}
